@import '../../App.scss';

.participants {
    padding: 0;
    border: none;
    margin: 0;
    
    .add-participant {
        margin-bottom: $space-two;
    }
}
        
.participant-box {
    display: flex;
    margin-bottom: $space-two;

    .input:not(:last-of-type) {
        margin-right: $space-two;
    }

}