@import '../App.scss';

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-login-toggle {
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
}