@import '../../App.scss';

header {
    background-color: $color-light-grey;
    color: $color-realnice-navy;
    padding: $space-one 0;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.logo {
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    margin-right: auto;
    // text-transform: uppercase;
}