// FONTS
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,900&display=swap');
// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
//font-family: 'Roboto', sans-serif;

// color variables
$color-light-grey: #f5f6f7;
$color-cantBe-white: rgb(249, 250, 251);
$color-beauty-blue:#5468ff;
$color-babyIm-blue:#1a56db;
$color-realnice-navy: #161e2e;
$color-my-black: rgb(25, 28, 31);
$color-my-black-light: lighten($color-my-black, 40%);
$color-realnice-navy-light: lighten($color-realnice-navy, 70%);

$color-coybi-green: #00B3A4;
$color-summer-salmon: #DB2C6F;

// spacing variables
$space-one: 6px;
$space-two: $space-one * 2;
$space-three: $space-two * 2;
$space-four: $space-three * 2;

// transitions
$background-transition: background-color 0.4s ease;
$color-transition: color 0.4s ease;


// font variables
$primary-font: 'Roboto', sans-serif;

html {
    font-size: 125%;
    font-family: $primary-font;
    color: $color-my-black;
}

h1 {
    font-weight: 900;
    font-size: 4rem;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
}

p {
    color: $color-my-black-light;
    font-weight: 100;
}

// LINK STYLES
a {
    color: $color-summer-salmon;
    text-decoration: none;
    padding: $space-two;

    transition: $color-transition;
}

a:hover,
a:focus,
a:active {
    color: darken($color-summer-salmon, 20%); 

    transition: $color-transition;
}

// GLOBAL STYLES
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 $space-four;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// FORM ELEMENTS
.form-label {
    display: block;
    margin-bottom: $space-one;
}

.form-input {
    background-color: lighten($color-beauty-blue, 30%);
    border: 1px solid $color-beauty-blue;
    border-radius: 5px;
    font-weight: 300;
    padding: $space-two $space-two;
    width: 100%;
    
    transition: $background-transition;
}

.form-input:active,
.form-input:focus {
    background-color: $color-cantBe-white;
    
    transition: $background-transition;
}


.btn {
    background-color: $color-my-black;
    border-radius: $space-one;
    border: none;
    color: $color-light-grey;
    font-weight: 100;
    padding: $space-two $space-three;

    transition: $background-transition;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: lighten($color-my-black, 20%); 

    transition: $background-transition;
}

// PAGE STYLES
.page-container {
    min-height: calc( 100vh - 72px );
}