@import '../../App.scss';

.text-input,
.number-input {

    margin-bottom: $space-three;
    
    label {
        display: block;
        margin-bottom: $space-one;
    }

    input {
        padding: $space-one $space-two;
        width: 100%;
    }

}