@import '../../App.scss';

.new-kitty-form-container {
    max-width: 800px;

    .form-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .closing-label {
        width: 100%;
    }

    .input-group {
        margin-bottom: $space-three;

        &.name {
            width: 60%;
        }
        &.amount {
            // $space-two == 12px
            // calc() doesn't take variables?
            width: calc(40% - 12px);
            margin-left: $space-two;
        }
        &.create-button,
        &.control-buttons {
            // padding-top: 28px;
            // margin-left: auto;
            // width: calc(100% - 354px);

            width: 100%;

            button {
                width: 100%;
            }
        }
    }


    .closing-time {
        width: 320px;
        padding: 0;
        border: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        // border: 4px springgreen solid;
 
        .date {
            width: 65%;
            margin-bottom: $space-one;
        }
        .time {
            width: 35%;
            margin-bottom: $space-one;
        }
    }


}

// .Xkitty-form {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 0 ($space-two * -1);

//     max-width: 900px;
//     // border: 1px solid dodgerblue;

//     .block {
//         border: 2px solid pink;
//         flex-basis: 500px;
//         flex-grow: 1;
//         margin: $space-two;
//     }

//     .form-controls {
//         width: 100%;
//         margin: $space-two;
//     }

//     .add-participant {
//         margin: $space-two;
//         margin-left: auto;
//     }

//     .text-input,
//     .number-input {    
//         margin-bottom: $space-three;
//     }
    
//     .form-row {
//         display: flex;
//         margin: 0 ($space-two * -1);
    
//         .input {
//             margin-left: $space-two;
//             margin-right: $space-two;
    
//             flex-basis: 300px;
//             flex-grow: 1;
//         }
//     }

// }

